/****** Object:  Database [QL_CuaHangPhanMem]    Script Date: 25/10/2023 9:41:20 SA ******/

GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[NHAPHATHANH]    Script Date: 25/10/2023 9:41:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHATHANH](
	[MANPH] [int] IDENTITY(1,1) NOT NULL,
	[TENNPH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NHAPHATHANH] PRIMARY KEY CLUSTERED 
(
	[MANPH] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANMEM]    Script Date: 25/10/2023 9:41:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANMEM](
	[MAPM] [int] IDENTITY(1,1) NOT NULL,
	[TENPM] [nvarchar](300) NOT NULL,
	[MOTA] [nvarchar](1000) NULL,
	[MANPH] [int] NOT NULL,
	[NGAYPHATHANH] [date] NULL,
	[THOIHAN] [int] NOT NULL,
	[DONVITHOIHAN] [nvarchar](10) NOT NULL,
	[DONGIA] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[HINHANH] [text] NULL,
 CONSTRAINT [PK_PHANMEM] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewPM]    Script Date: 25/10/2023 9:41:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[viewPM] AS
SELECT MAPM, TENPM, NHAPHATHANH.MANPH, TENNPH, MOTA, NGAYPHATHANH, THOIHAN, DONVITHOIHAN, DONGIA, SOLUONG, HINHANH
FROM PHANMEM, NHAPHATHANH
WHERE PHANMEM.MANPH = NHAPHATHANH.MANPH; 
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 25/10/2023 9:41:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MAHD] [varchar](100) NOT NULL,
	[MAPM] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[THANHTIEN] [int] NOT NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAPM] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD_KEY]    Script Date: 25/10/2023 9:41:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD_KEY](
	[MAHD] [varchar](100) NOT NULL,
	[MAPM] [int] NOT NULL,
	[MAKEY] [int] NOT NULL,
 CONSTRAINT [PK_CTHD_KEY] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAPM] ASC,
	[MAKEY] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 25/10/2023 9:41:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](100) NOT NULL,
	[MATK] [varchar](100) NOT NULL,
	[THOIGIANLAP] [datetime] NOT NULL,
	[TONGTIEN] [int] NOT NULL,
	[TINHTRANG] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KEYPM]    Script Date: 25/10/2023 9:41:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEYPM](
	[MAPM] [int] NOT NULL,
	[MAKEY] [int] IDENTITY(1,1) NOT NULL,
	[GIATRI] [text] NULL,
	[TAIKHOAN] [text] NULL,
	[MATKHAU] [text] NULL,
 CONSTRAINT [PK_KEYPM] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC,
	[MAKEY] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHANMEM]    Script Date: 25/10/2023 9:41:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHANMEM](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIPHANMEM] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 25/10/2023 9:41:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [varchar](100) NOT NULL,
	[TENTK] [nvarchar](50) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[CCCD] [varchar](15) NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[DIACHI] [varchar](200) NULL,
	[SODU] [int] NULL,
	[HINHDAIDIEN] [text] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN_QUANTRI]    Script Date: 25/10/2023 9:41:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN_QUANTRI](
	[TENTK] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN_QUANTRI] PRIMARY KEY CLUSTERED 
(
	[TENTK] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINBOSUNG]    Script Date: 25/10/2023 9:41:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINBOSUNG](
	[MAHD] [varchar](100) NOT NULL,
	[MAPM] [int] NOT NULL,
	[STT] [int] NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[GIATRI] [text] NOT NULL,
 CONSTRAINT [PK_THONGTINBOSUNG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAPM] ASC,
	[STT] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOCLOAIPM]    Script Date: 25/10/2023 9:41:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOCLOAIPM](
	[MAPM] [int] NOT NULL,
	[MALOAI] [int] NOT NULL,
 CONSTRAINT [PK_THUOCLOAIPM] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC,
	[MALOAI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HOADON]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_PHANMEM] FOREIGN KEY([MAPM])
REFERENCES [dbo].[PHANMEM] ([MAPM])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_PHANMEM]
GO
ALTER TABLE [dbo].[CTHD_KEY]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_KEY_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHD_KEY] CHECK CONSTRAINT [FK_CTHD_KEY_HOADON]
GO
ALTER TABLE [dbo].[CTHD_KEY]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_KEY_KEYPM] FOREIGN KEY([MAPM], [MAKEY])
REFERENCES [dbo].[KEYPM] ([MAPM], [MAKEY])
GO
ALTER TABLE [dbo].[CTHD_KEY] CHECK CONSTRAINT [FK_CTHD_KEY_KEYPM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_TAIKHOAN]
GO
ALTER TABLE [dbo].[KEYPM]  WITH CHECK ADD  CONSTRAINT [FK_KEYPM_PHANMEM] FOREIGN KEY([MAPM])
REFERENCES [dbo].[PHANMEM] ([MAPM])
GO
ALTER TABLE [dbo].[KEYPM] CHECK CONSTRAINT [FK_KEYPM_PHANMEM]
GO
ALTER TABLE [dbo].[PHANMEM]  WITH CHECK ADD  CONSTRAINT [FK_PHANMEM_NHAPHATHANH] FOREIGN KEY([MANPH])
REFERENCES [dbo].[NHAPHATHANH] ([MANPH])
GO
ALTER TABLE [dbo].[PHANMEM] CHECK CONSTRAINT [FK_PHANMEM_NHAPHATHANH]
GO
ALTER TABLE [dbo].[THONGTINBOSUNG]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINBOSUNG_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[THONGTINBOSUNG] CHECK CONSTRAINT [FK_THONGTINBOSUNG_HOADON]
GO
ALTER TABLE [dbo].[THONGTINBOSUNG]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINBOSUNG_PHANMEM] FOREIGN KEY([MAPM])
REFERENCES [dbo].[PHANMEM] ([MAPM])
GO
ALTER TABLE [dbo].[THONGTINBOSUNG] CHECK CONSTRAINT [FK_THONGTINBOSUNG_PHANMEM]
GO
ALTER TABLE [dbo].[THUOCLOAIPM]  WITH CHECK ADD  CONSTRAINT [FK_THUOCLOAIPM_LOAIPM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIPHANMEM] ([MALOAI])
GO
ALTER TABLE [dbo].[THUOCLOAIPM] CHECK CONSTRAINT [FK_THUOCLOAIPM_LOAIPM]
GO
ALTER TABLE [dbo].[THUOCLOAIPM]  WITH CHECK ADD  CONSTRAINT [FK_THUOCLOAIPM_PHANMEM] FOREIGN KEY([MAPM])
REFERENCES [dbo].[PHANMEM] ([MAPM])
GO
ALTER TABLE [dbo].[THUOCLOAIPM] CHECK CONSTRAINT [FK_THUOCLOAIPM_PHANMEM]
GO
