/****** Object:  Table [dbo].[Banner]    Script Date: 04.12.2023 10:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[MaBN] [int] IDENTITY(1,1) NOT NULL,
	[MaPM] [int] NULL,
	[HINHANH] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[MaBN] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 04.12.2023 10:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MAHD] [varchar](100) NOT NULL,
	[MAPM] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[THANHTIEN] [int] NOT NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAPM] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD_KEY]    Script Date: 04.12.2023 10:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD_KEY](
	[MAHD] [varchar](100) NOT NULL,
	[MAPM] [int] NOT NULL,
	[MAKEY] [int] NOT NULL,
 CONSTRAINT [PK_CTHD_KEY] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAPM] ASC,
	[MAKEY] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 04.12.2023 10:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[TEN] [nvarchar](max) NULL,
	[GIATRI] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 04.12.2023 10:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](100) NOT NULL,
	[MATK] [varchar](100) NOT NULL,
	[THOIGIANLAP] [datetime] NOT NULL,
	[TONGTIEN] [int] NOT NULL,
	[TINHTRANG] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KEYPM]    Script Date: 04.12.2023 10:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEYPM](
	[MAPM] [int] NOT NULL,
	[MAKEY] [int] IDENTITY(1,1) NOT NULL,
	[GIATRI] [text] NULL,
	[TAIKHOAN] [text] NULL,
	[MATKHAU] [text] NULL,
	[TINHTRANG] [int] NULL,
 CONSTRAINT [PK_KEYPM] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC,
	[MAKEY] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHANMEM]    Script Date: 04.12.2023 10:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHANMEM](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIPHANMEM] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPHATHANH]    Script Date: 04.12.2023 10:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHATHANH](
	[MANPH] [int] IDENTITY(1,1) NOT NULL,
	[TENNPH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NHAPHATHANH] PRIMARY KEY CLUSTERED 
(
	[MANPH] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANMEM]    Script Date: 04.12.2023 10:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANMEM](
	[MAPM] [int] IDENTITY(1,1) NOT NULL,
	[TENPM] [nvarchar](300) NOT NULL,
	[MOTA] [nvarchar](1000) NULL,
	[MANPH] [int] NOT NULL,
	[NGAYPHATHANH] [date] NULL,
	[THOIHAN] [int] NOT NULL,
	[DONVITHOIHAN] [nvarchar](10) NOT NULL,
	[DONGIA] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[HINHANH] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHANMEM] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 04.12.2023 10:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [varchar](100) NOT NULL,
	[TENTK] [nvarchar](50) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[CCCD] [varchar](15) NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[DIACHI] [varchar](200) NULL,
	[SODU] [int] NULL,
	[HINHDAIDIEN] [text] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN_QUANTRI]    Script Date: 04.12.2023 10:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN_QUANTRI](
	[TENTK] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN_QUANTRI] PRIMARY KEY CLUSTERED 
(
	[TENTK] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINBOSUNG]    Script Date: 04.12.2023 10:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINBOSUNG](
	[MAHD] [varchar](100) NOT NULL,
	[MAPM] [int] NOT NULL,
	[STT] [int] NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[GIATRI] [text] NOT NULL,
 CONSTRAINT [PK_THONGTINBOSUNG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAPM] ASC,
	[STT] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOCLOAIPM]    Script Date: 04.12.2023 10:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOCLOAIPM](
	[MAPM] [int] NOT NULL,
	[MALOAI] [int] NOT NULL,
 CONSTRAINT [PK_THUOCLOAIPM] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC,
	[MALOAI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewPM]    Script Date: 04.12.2023 10:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[viewPM] AS
SELECT MAPM, TENPM, NHAPHATHANH.MANPH, TENNPH, MOTA, NGAYPHATHANH, THOIHAN, DONVITHOIHAN, DONGIA, SOLUONG, HINHANH
FROM PHANMEM, NHAPHATHANH
WHERE PHANMEM.MANPH = NHAPHATHANH.MANPH; 
GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([MaBN], [MaPM], [HINHANH]) VALUES (1, 21, N'https://firebasestorage.googleapis.com/v0/b/chatapp-c35ec.appspot.com/o/banner%2Fbanner_1.png?alt=media&token=e3c85a87-4eed-4127-9616-8d0541e5ce39')
INSERT [dbo].[Banner] ([MaBN], [MaPM], [HINHANH]) VALUES (2, 7, N'https://firebasestorage.googleapis.com/v0/b/chatapp-c35ec.appspot.com/o/banner%2Fbanner_2.png?alt=media&token=e2452a4f-27f0-4e0e-bd08-60149dc69303')
INSERT [dbo].[Banner] ([MaBN], [MaPM], [HINHANH]) VALUES (3, 30, N'https://firebasestorage.googleapis.com/v0/b/chatapp-c35ec.appspot.com/o/banner%2Fbanner_3.png?alt=media&token=3a7fb69a-c5b8-4890-940e-8e077c05439b')
SET IDENTITY_INSERT [dbo].[Banner] OFF
GO
INSERT [dbo].[CTHD] ([MAHD], [MAPM], [SOLUONG], [THANHTIEN]) VALUES (N'5tVclauHttQOM2y1ees59h95D67227112023145026', 8, 1, 80000)
INSERT [dbo].[CTHD] ([MAHD], [MAPM], [SOLUONG], [THANHTIEN]) VALUES (N'5tVclauHttQOM2y1ees59h95D67227112023145150', 8, 1, 80000)
INSERT [dbo].[CTHD] ([MAHD], [MAPM], [SOLUONG], [THANHTIEN]) VALUES (N'5tVclauHttQOM2y1ees59h95D67227112023145330', 5, 1, 1550000)
GO
INSERT [dbo].[CTHD_KEY] ([MAHD], [MAPM], [MAKEY]) VALUES (N'5tVclauHttQOM2y1ees59h95D67227112023145026', 8, 23)
INSERT [dbo].[CTHD_KEY] ([MAHD], [MAPM], [MAKEY]) VALUES (N'5tVclauHttQOM2y1ees59h95D67227112023145150', 8, 24)
INSERT [dbo].[CTHD_KEY] ([MAHD], [MAPM], [MAKEY]) VALUES (N'5tVclauHttQOM2y1ees59h95D67227112023145330', 5, 15)
GO
INSERT [dbo].[DANHMUC] ([TEN], [GIATRI]) VALUES (N'MAQUANTRI', N'2023')
GO
INSERT [dbo].[HOADON] ([MAHD], [MATK], [THOIGIANLAP], [TONGTIEN], [TINHTRANG]) VALUES (N'5tVclauHttQOM2y1ees59h95D67227112023145026', N'5tVclauHttQOM2y1ees59h95D672', CAST(N'2023-11-27T14:50:26.627' AS DateTime), 80000, N'Đã thanh toán')
INSERT [dbo].[HOADON] ([MAHD], [MATK], [THOIGIANLAP], [TONGTIEN], [TINHTRANG]) VALUES (N'5tVclauHttQOM2y1ees59h95D67227112023145150', N'5tVclauHttQOM2y1ees59h95D672', CAST(N'2023-11-27T14:51:50.523' AS DateTime), 80000, N'Đã thanh toán')
INSERT [dbo].[HOADON] ([MAHD], [MATK], [THOIGIANLAP], [TONGTIEN], [TINHTRANG]) VALUES (N'5tVclauHttQOM2y1ees59h95D67227112023145330', N'5tVclauHttQOM2y1ees59h95D672', CAST(N'2023-11-27T14:53:30.520' AS DateTime), 1550000, N'Đã thanh toán')
GO
SET IDENTITY_INSERT [dbo].[KEYPM] ON 

INSERT [dbo].[KEYPM] ([MAPM], [MAKEY], [GIATRI], [TAIKHOAN], [MATKHAU], [TINHTRANG]) VALUES (1, 1, N'', N'android17x', N'android17x', 1)
INSERT [dbo].[KEYPM] ([MAPM], [MAKEY], [GIATRI], [TAIKHOAN], [MATKHAU], [TINHTRANG]) VALUES (1, 2, N'ad2', N'', N'', 1)
INSERT [dbo].[KEYPM] ([MAPM], [MAKEY], [GIATRI], [TAIKHOAN], [MATKHAU], [TINHTRANG]) VALUES (1, 4, N'???', N'', N'', 0)
SET IDENTITY_INSERT [dbo].[KEYPM] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIPHANMEM] ON 

INSERT [dbo].[LOAIPHANMEM] ([MALOAI], [TENLOAI]) VALUES (1, N'Văn phòng')
INSERT [dbo].[LOAIPHANMEM] ([MALOAI], [TENLOAI]) VALUES (2, N'Học tập')
INSERT [dbo].[LOAIPHANMEM] ([MALOAI], [TENLOAI]) VALUES (3, N'Giải trí')
SET IDENTITY_INSERT [dbo].[LOAIPHANMEM] OFF
GO
SET IDENTITY_INSERT [dbo].[NHAPHATHANH] ON 

INSERT [dbo].[NHAPHATHANH] ([MANPH], [TENNPH]) VALUES (1, N'Microsoft Corporations')
INSERT [dbo].[NHAPHATHANH] ([MANPH], [TENNPH]) VALUES (2, N'Zoom Video Communications')
INSERT [dbo].[NHAPHATHANH] ([MANPH], [TENNPH]) VALUES (3, N'Google LLC')
SET IDENTITY_INSERT [dbo].[NHAPHATHANH] OFF
GO
SET IDENTITY_INSERT [dbo].[PHANMEM] ON 

INSERT [dbo].[PHANMEM] ([MAPM], [TENPM], [MOTA], [MANPH], [NGAYPHATHANH], [THOIHAN], [DONVITHOIHAN], [DONGIA], [SOLUONG], [HINHANH]) VALUES (1, N'Microsoft 365 Business Basic', N'Microsoft 365 Business Basics', 1, CAST(N'2020-02-09' AS Date), 1, N'Năm', 750000, 0, N'https://firebasestorage.googleapis.com/v0/b/chatapp-c35ec.appspot.com/o/prductImage%2FMicrosoft%20365%20Business%20Basic?alt=media&token=696141f6-5c7f-4a55-8df2-31aa639dc5f7')
INSERT [dbo].[PHANMEM] ([MAPM], [TENPM], [MOTA], [MANPH], [NGAYPHATHANH], [THOIHAN], [DONVITHOIHAN], [DONGIA], [SOLUONG], [HINHANH]) VALUES (2, N'Microsoft 365 Business Standard', N'Microsoft 365 Business Standards', 1, CAST(N'2020-02-09' AS Date), 1, N'Năm', 2850000, 0, N'https://firebasestorage.googleapis.com/v0/b/chatapp-c35ec.appspot.com/o/prductImage%2FMicrosoft%20365%20Business%20Standard?alt=media&token=7c9d1acc-639a-4086-a732-b8ee51dd735c')
INSERT [dbo].[PHANMEM] ([MAPM], [TENPM], [MOTA], [MANPH], [NGAYPHATHANH], [THOIHAN], [DONVITHOIHAN], [DONGIA], [SOLUONG], [HINHANH]) VALUES (3, N'Microsoft 365 Business Premium', N'Microsoft 365 Business Premiums', 1, CAST(N'2020-02-09' AS Date), 1, N'Năm', 5650000, 0, N'https://firebasestorage.googleapis.com/v0/b/chatapp-c35ec.appspot.com/o/prductImage%2FMicrosoft.png?alt=media&token=3f30d253-fc76-4adb-acc3-000704abcd01')
SET IDENTITY_INSERT [dbo].[PHANMEM] OFF
GO
INSERT [dbo].[TAIKHOAN] ([MATK], [TENTK], [HOTEN], [CCCD], [EMAIL], [SDT], [DIACHI], [SODU], [HINHDAIDIEN]) VALUES (N'5tVclauHttQOM2y1ees59h95D672', N'user1@email.com', N'user1@email.com', N'0321313', N'user1@email.com', N'3213232321', N'SG', 0, NULL)
INSERT [dbo].[TAIKHOAN] ([MATK], [TENTK], [HOTEN], [CCCD], [EMAIL], [SDT], [DIACHI], [SODU], [HINHDAIDIEN]) VALUES (N'HWW1bsFpvTg37hZRUgwNRPe2Swm2', N'qtrung1702@outlook.com', N'Trung', N'0722', N'qtrung1702@outlook.com', N'036', N'SG', 220000, NULL)
GO
INSERT [dbo].[TAIKHOAN_QUANTRI] ([TENTK], [MATKHAU]) VALUES (N'minh', N'555')
INSERT [dbo].[TAIKHOAN_QUANTRI] ([TENTK], [MATKHAU]) VALUES (N'nam', N'123')
INSERT [dbo].[TAIKHOAN_QUANTRI] ([TENTK], [MATKHAU]) VALUES (N'nhatnam', N'123456')
GO
INSERT [dbo].[THUOCLOAIPM] ([MAPM], [MALOAI]) VALUES (1, 1)
INSERT [dbo].[THUOCLOAIPM] ([MAPM], [MALOAI]) VALUES (2, 1)
INSERT [dbo].[THUOCLOAIPM] ([MAPM], [MALOAI]) VALUES (3, 1)
GO
ALTER TABLE [dbo].[Banner]  WITH CHECK ADD  CONSTRAINT [FK_Banner_PHANMEM] FOREIGN KEY([MaPM])
REFERENCES [dbo].[PHANMEM] ([MAPM])
GO
ALTER TABLE [dbo].[Banner] CHECK CONSTRAINT [FK_Banner_PHANMEM]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HOADON]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_PHANMEM] FOREIGN KEY([MAPM])
REFERENCES [dbo].[PHANMEM] ([MAPM])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_PHANMEM]
GO
ALTER TABLE [dbo].[CTHD_KEY]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_KEY_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHD_KEY] CHECK CONSTRAINT [FK_CTHD_KEY_HOADON]
GO
ALTER TABLE [dbo].[CTHD_KEY]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_KEY_KEYPM] FOREIGN KEY([MAPM], [MAKEY])
REFERENCES [dbo].[KEYPM] ([MAPM], [MAKEY])
GO
ALTER TABLE [dbo].[CTHD_KEY] CHECK CONSTRAINT [FK_CTHD_KEY_KEYPM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_TAIKHOAN]
GO
ALTER TABLE [dbo].[KEYPM]  WITH CHECK ADD  CONSTRAINT [FK_KEYPM_PHANMEM] FOREIGN KEY([MAPM])
REFERENCES [dbo].[PHANMEM] ([MAPM])
GO
ALTER TABLE [dbo].[KEYPM] CHECK CONSTRAINT [FK_KEYPM_PHANMEM]
GO
ALTER TABLE [dbo].[PHANMEM]  WITH CHECK ADD  CONSTRAINT [FK_PHANMEM_NHAPHATHANH] FOREIGN KEY([MANPH])
REFERENCES [dbo].[NHAPHATHANH] ([MANPH])
GO
ALTER TABLE [dbo].[PHANMEM] CHECK CONSTRAINT [FK_PHANMEM_NHAPHATHANH]
GO
ALTER TABLE [dbo].[THONGTINBOSUNG]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINBOSUNG_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[THONGTINBOSUNG] CHECK CONSTRAINT [FK_THONGTINBOSUNG_HOADON]
GO
ALTER TABLE [dbo].[THONGTINBOSUNG]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINBOSUNG_PHANMEM] FOREIGN KEY([MAPM])
REFERENCES [dbo].[PHANMEM] ([MAPM])
GO
ALTER TABLE [dbo].[THONGTINBOSUNG] CHECK CONSTRAINT [FK_THONGTINBOSUNG_PHANMEM]
GO
ALTER TABLE [dbo].[THUOCLOAIPM]  WITH CHECK ADD  CONSTRAINT [FK_THUOCLOAIPM_LOAIPM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIPHANMEM] ([MALOAI])
GO
ALTER TABLE [dbo].[THUOCLOAIPM] CHECK CONSTRAINT [FK_THUOCLOAIPM_LOAIPM]
GO
ALTER TABLE [dbo].[THUOCLOAIPM]  WITH CHECK ADD  CONSTRAINT [FK_THUOCLOAIPM_PHANMEM] FOREIGN KEY([MAPM])
REFERENCES [dbo].[PHANMEM] ([MAPM])
GO
ALTER TABLE [dbo].[THUOCLOAIPM] CHECK CONSTRAINT [FK_THUOCLOAIPM_PHANMEM]
GO
