@model QLBanPhanMem.Models.AccountModel
@{
    ViewData["Title"] = "Mật khẩu và bảo mật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav style="--bs-breadcrumb-divider: '>'; padding-top:20px" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Index">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="/Account/Edit/@ViewBag.uid">Tài khoản</a></li>
        <li class="breadcrumb-item active" aria-current="page">Đổi mật khẩu</li>
    </ol>
</nav>
<br />
<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item" aria-current="true"><a href="/Account/Edit/">Tài khoản</a></li>
            <li class="list-group-item" aria-current="true"><a href="/Account/History/">Lịch sử đơn hàng</a></li>
            <li class="list-group-item active" aria-current="true"><a href="/Account/ChangePassword/">Mật khẩu và bảo mật</a></li>
            <li class="list-group-item" aria-current="true"><a asp-action="FavoriteProduct" asp-controller="Account">Sản phẩm yêu thích</a></li>
            <li class="list-group-item" aria-current="true"><a asp-action="ShareWebsite" asp-controller="Account">Giới thiệu bạn bè</a></li>
        </ul>
    </div>
    <div class="col-md-8" style="padding:30px">
        <h5>Mật khẩu</h5>
        <a>Vì sự an toàn, Shop khuyến khích khách hàng sử dụng mật khẩu mạnh</a>
        @ViewBag.notice
        <br />
        <div class="row">
            <div class="col-md-5">
                <form asp-controller="Account" asp-action="ChangePassword">
                    <div class="form-outline mb-4">
                        <input name="oldPassword" type="password" id="oldPassword" class="form-control" />
                        <label class="form-label" for="registerPassword">Mật khẩu cũ</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input name="newPassword" type="password" id="newPassword" class="form-control" />
                        <label class="form-label" for="registerPassword">Mật khẩu mới</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input name="password" type="password" id="rewritePassword" class="form-control" />
                        <label class="form-label" for="registerPassword">Nhập lại mật khẩu mới</label>
                    </div>
                    <!-- Submit button -->
                    <button action="ChangePassword" type="submit" class="btn btn-primary btn-block mb-3">LƯU THAY ĐỔI</button>
                </form>
                <button type="button" class="btn btn-danger btn-block" data-mdb-ripple-init>XÓA TÀI KHOẢN</button>
            </div>
            <div class="col-md-5">
                <b>Mật khẩu của bạn</b>
                <p>Phải 6 ký tự trở lên</p>
                <p>Nên có ít nhất 1 số hoặc 1 ký tự đặc biệt</p>
                <p>Không nên giống với mật khẩu được sử dụng gần đây</p>
            </div>
        </div>
       
        
    </div>
</div>

