
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h4>Đặt lại mật khẩu</h4>
<div class="col-md-5">
    <form asp-action="ResetPassword">
        @ViewBag.notice
        <div>
            <p style="color:red">@ViewBag.Error</p>
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input name="email" type="email" id="email" class="form-control" />
            <label class="form-label" for="loginName">Nhập Email để đặt lại</label>
        </div>


        <!-- Submit button -->
        <button value="ResetPassword" type="submit" class="btn btn-primary btn-block mb-4">Ok</button>

    </form>
</div>

