
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Về Up Modern</h1>
<p>Up Modern là trang web chuyên bán các loại sản phẩm phần mềm có bản quyền an toàn và tiện lợi.</p>

